.ct-structure-narrow {
	--block-max-width: 750px;
	--wide-block-max-width: 1100px;
}

.ct-structure-normal {
	@media (max-width: 1449px) {
		--block-max-width: 800px;
	}

	@media (min-width: 1450px) {
		--block-max-width: 1100px;
		--wide-block-max-width: 1350px;
	}
}



.wp-block {
	max-width: var(--block-max-width);
}

.wp-block[data-align="wide"] {
	max-width: var(--wide-block-max-width) !important;
}







// getwid
div.wp-block-getwid-section {
	.wp-block-getwid-section__wrapper {
		.wp-block-getwid-section__inner-wrapper {
			max-width: var(--block-max-width);	
		}
	}
}


// stackable
[data-type^="ugb/"][data-align=full]>*>.ugb-main-block {

	&.ugb--has-block-background {
		padding-left: 30px;
		padding-right: 30px;

		> .ugb-inner-block--center {
			max-width: var(--block-max-width) !important;
		}

		> .ugb-inner-block--wide {
			max-width: var(--wide-block-max-width) !important;
		}
	}
}